# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Build
dist/
*.tsbuildinfo

# Debug
npm-debug.log*
pnpm-debug.log*

# Misc
.DS_Store
*.pem

# Secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Vercel
.vercel
